# Sensitive
.env
secrets.tfvars

# Environments
.venv/
node_modules/

# OpenTofu state
.terraform
terraform.tfstate
terraform.tfstate.*
terraform.tfstate.d/
infra/dot_env.tfvars

# Generated & runtime
build/
lib/
logs/
media/
!snapshots/latest/media/
static/
!src/static/
snapshots/*.tgz

# Transient/junk
__pycache__
*.swp
.DS_Store
.coverage
.dmypy.json
.junk/
*.log
db-test.sqlite3
emergency_backup.dump
src/db.sqlite3
