{% load wagtailcore_tags %}

{% for post in posts %}
  <dt class="meta-data">
    {% if year and forloop.counter == 1 %}<h2>{{ year }}</h2>{% endif %}
    {% if post.published %}
      {% if not post.parts %}Published{% else %}<span>Latest post</span>{% endif %}

      <span>{{ post.published }}</span>
      {% if post.updated %}
        <br />Updated <span>{{ post.updated }}</span><br />
      {% endif %}
    {% endif %}
    {% if post.latest_draft %}
      <span><a href="{{ post.draft_url }}">Last draft</a></span>
      <span>{{ post.latest_draft }}</span>
    {% endif %}
    {% if post.page_type %}<div class="page-type">{{ post.page_type.indefinite_article|capfirst }}
      {% if post.tags %}, tagged:{% endif %}
    </div>{% endif %}
  </dt>
  <dd class="preview">
    <h3>{% if post.live %}<a href="{{ post.url }}">{% endif %}{{ post.title }}{% if post.live %}</a>{% endif %}</h3>
    {% if post.summary %}{{ post.summary|richtext }}{% endif %}
    {% if post.parts %}<div class="join join-vertical border-collapse">
      {% for part in post.parts %}<div class="collapse collapse-arrow join-item border-2 -mt-2 border-base-300">
        <input type="radio" name="accordion-{{ forloop.parentloop.counter }}" {% if forloop.last %}{% endif%} />
        <h4 class="collapse-title">Part {{ forloop.counter }}: {% if part.live %}<a href="{{ part.url }}" style="z-index: 2; position:relative;">{% endif %}{{ part.title }}{% if part.live %}</a>{% endif %}</h4>
        <div class="collapse-content">{% if part.summary %}{{ part.summary|richtext }}{% endif %}</div>
      </div>{% endfor %}
    </div>{% endif %}
  </dd>
{% endfor %}
