{% extends "picata/3_column.html" %}
{% load wagtailcore_tags kill_orphans %}

{% block main_classes %}{{ block.super }} article{% endblock %}

{% block aside %}
  {% if tagline %}<div class="tagline">{{ tagline|killorphans }}<hr /></div>{% endif %}
  {% if published %}<p class="leading-none text-xs">Published <span>{{ published }}</span></p>{% endif %}
  {% if updated %}<p class="leading-none text-xs">Updated <span>{{ updated }}</span></p>{% endif %}
  {% if page.tags %}
    <hr /><nav class="tags"><h1>Tags</h1><ul>
      {% for tag in page.tags.all %}<li><a href="{% url 'search' %}?tags={{ tag|urlencode }}">{{ tag }}</a></li>{% endfor %}
    </ul></nav>
  {% endif %}
{% endblock %}

{% block article %}
  <h1>{{ page.title|killorphans }}</h1>
  {{ page.content }}
{% endblock %}

{% block nav %}<div class="toc"></div>{% endblock %}
